body {
    background-color : rgb(20, 20, 20);
    margin: 0px;
    padding: 0px;
}

header {
    font-family: Arial;
    text-align: center;
    color : rgb(248, 247, 247);
    height: 20vh;
}

button {
    background-color: rgb(112, 94, 111);
    border-radius: 5px;
    color: white;
    padding: 16px;
    width: 180px;
    margin: 10px;
    margin-bottom: 5px;
}

#area {
    display: flex;
    flex-direction: row;
}

#menu {
    border: 2px solid white;
    border-radius: 10px;
    
    height: 70vh;
    width: 200px;
    display: flex;
    /*align-items: center;*/
}

#menu-things {
    font-family: Arial;
    color: white;
    margin: 0 auto;
}

#game-area {
    display: flex;
    flex-grow: 1;
    border: 2px solid white;
    color: white;
    flex-direction: column;
}

#library {
    display: flex;
    flex-direction: row;
}

.book {
    width: 40px;
    height: 200px;
    background-color: #ccc;
    border: 1px solid black;
    margin: 10px;
    /*transform: rotate(-90deg);*/
    font-family: Arial;
    font-size: 32px;
    text-align: center;
    align-self: auto;
    transform-origin: top left;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    white-space: nowrap;
    overflow: hidden;
  }

  .book-comp {
    width: 200px;
    height: 40px;
    background-color: #ccc;
    border: 1px solid black;
    margin: 10px;
    font-family: Arial;
    font-size: 32px;
    text-align: center;
    align-self: auto;
    text-orientation: mixed;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    white-space: nowrap;
    overflow: hidden;
  }

  #compare-books {
    display: flex;
    flex-direction: row;
    align-self: center; /* I dont know why these dont work tbh */
    justify-self: center;
  }

  #compare-buttons {
    align-self: center;
    justify-self: center;

  }